body, 
 html {
    height: 110%;
    margin: 0;
    
  }
  body {
    background-color: #f0ecdc;
    font-family: Source Sans Pro;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  table,
  th,
  td {
    border: 1px solid #722F37;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#b94856 ;
  }
  th {
    background-color: #722F37;
    color: white;
  }
  .navbar-brand{
    font-size: 35px;
    margin-left: 270px;
  }
  .row p{
    font-weight: 100;
  }
