name: Push-to-EC2

on: push

jobs:
  deploy:
    name: Push to EC2 Instance / Fix 0
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v1

      - name: Deploy to my EC2 instance
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          SOURCE: "./"
          REMOTE_HOST: "34.129.229.253"
          REMOTE_USER: "ashervmanangan"
          TARGET: "/app/web/IT-StudentEnrollment" 